html {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
header {
    background-color: #1F2937;
    padding: 1vh 10vw 5vh 10vw;
}
.top-bar-header, .top-nav ul, .main-header {
    display: flex;
    flex-wrap: wrap;
}
.top-nav ul {
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
}
.top-header-logo {
    flex: 1;
}
.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.main-header-text, .main-header-image {
    flex: 1;
    min-width: 280px;
}
.main-header {
    gap: 1rem;
}
.header-secondary-text, a, figcaption {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.main-header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: .5rem 5rem;
    border-radius: 15px;
    border: none;
}
.main-header-image {
    object-fit: contain;
    display: flex;
    place-content: center;
}
.main-header-image img {
    width: 70%;
}
figure {
    text-align: center;
    align-self: center;
}
button, .inactive {
    transition : .4s;
}
button:hover, .inactive:hover {
    cursor: pointer;
    transform:scale(1.05)
}
.about .heading {
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--white-color);
    flex-wrap: wrap;
}
.about .heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    padding:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 50%;
}
.about .row .content{
    padding:2rem;
}

.about .row .content h3{
    font-size: 2rem;
    color:var(--main-color);
    text-align: center;
}
.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}
.contact .heading{
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:var(--main-color);
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:var(--black);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:var(--black)
    ;
    text-transform: none;
    background:none;
}
