html {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
}
:root{
    --main-color:#d3ad7f;
    --blue:#1F2937;     
    --black : #000000;                                         
    --border:.1rem solid rgba(255,255,255,.3);
    --white-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
header {
    background-color: #1F2937;
    padding: 1vh 10vw 5vh 10vw;
}
.top-bar-header, .top-nav ul, .main-header, .products-gallery-list{
    display: flex;
    flex-wrap: wrap;
}
.top-nav ul {
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
}
.top-header-logo {
    flex: 1;
}
.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.main-header-text, .main-header-image {
    flex: 1;
    min-width: 280px;
}
.main-header {
    gap: 1rem;
}
.header-secondary-text, a, figcaption {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.main-header-button {
    background-color: hsl(217, 91%, 59%);
    color: hwb(90 97% 2%);
    padding: .5rem 5rem;
    border-radius: 15px;
    border: none;
}
.main-header-image {
    object-fit: contain;
    display: flex;
    place-content: center;
}
.main-header-image img {
    width: 70%;
}
figure {
    text-align: center;
    align-self: center;
}
button, .inactive {
    transition : .4s;
}
button:hover, .inactive:hover {
    cursor: pointer;
    transform:scale(1.05)
}
.about .heading {
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--white-color);
    flex-wrap: wrap;
}
.about .heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    padding:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 50%;
}
.about .row .content{
    padding:2rem;
}

.about .row .content h3{
    font-size: 2rem;
    color:var(--main-color);
    text-align: center;
}

.about .row .content p{
    font-size: 1.6rem;
    color: var(--black);
    padding:1rem 0;
    line-height: 1.8;
}
.products .heading{
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
}
.about .container .image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;

}
.about .container .image img{
    width: 100%;
}
.review .heading {
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box .icon{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
}


.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}
.contact .heading{
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:var(--main-color);
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:var(--black);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:var(--black)
    ;
    text-transform: none;
    background:none;
}
/*products page*/
.products-h1{
    font-size: 48px;
}
.products-main-container {
    padding: 4vh 6vw;
    text-align: center;
}
.products-article {
    padding: 1vh 4vw;
}
.products-gallery-list {
    gap: .5em;
    list-style: none;
    justify-content: center;
}
.product-container {
    width: 400px;
    min-width: 300px;
    flex:1;
    padding: 2vh 2vw;
    border: 2px solid rgb(56, 130, 246);
    border-radius: 20px;
}
.product-image {
    width: 360px;
    height: 260px;
    object-fit: cover;
}
.product-image img {
    width: 100%;
    height: 100%;
}